body {
  background: #2C3E50 !important;
  position: relative;
}
.ahihi {
  position: relative !important;
  height: 50vh;
}
.formlogin {
  position: absolute !important;
 top :50% !important;
 left:0px !important;
 right:0px !important;
 bottom:0px !important;
 margin: auto !important;;
}
#loginfo {
  background: white !important;
  color: red#;
  font-size: 25px;
  opacity: 0;
}
